* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 500px;
  height: 500px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.even {
  background-color: black;
}

.odd {
  background-color: red;
}

.zero {
  background-color: green;
  font-weight: bold;
}
